<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/variables.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
    <div class="app">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="main">
            <div th:replace="fragments/header :: header"></div>
            <div class="content">
            </div>
        </div>
    </div>
</body>
</html>
