.sidebar{
    width:260px;
    min-height:100vh;
    background:var(--sidebar);
    color:white;
    padding:24px;

    display:flex;
    flex-direction:column;
}

.sidebar a{

    display:block;

    padding:14px 18px;

    color:#F5EDE5;

    text-decoration:none;

    border-radius:12px;

    margin-bottom:8px;

    transition:.2s;

}

.sidebar a:hover{

    background:var(--hover);

}

.sidebar .active{

    background:var(--primary);

}

.logo{
    display: flex;
    align-items: center; /* aligne verticalement */
    gap: 12px; /* espace entre image et texte */
    margin-bottom: 30px;
}

.logo img{
    width: 70px;
    height: auto;
}

.logo h2{
    margin: 0; /* enlève le décalage par défaut */
}

.info-user{
    margin-top:auto; 
    padding:16px;
    background:rgba(255,255,255,0.08);
    border-radius:14px;

    display:flex;
    flex-direction:column;
    gap:10px;
}

/* utilisateur */
.info-user .user-info{
    display: flex;
    background: var(--bg);
    align-items: center;
    gap: 10px;
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
}

/* bouton logout */
.info-user button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 10px;
    border: none;
    border-radius: 10px;

    background: var(--hover);
    color: white;

    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
}

.info-user button:hover{
    background: var(--primary);
}