<div class="header" th:fragment="header">

    <div class="page-title">
        <h1 th:text="${pageTitle ?: 'Eggland'}"></h1>
    </div>

    <div class="header-right">

        <form class="search-form" th:action="@{/search}" method="get">
            <input type="text" name="q" placeholder="Rechercher..." required />
            <button type="submit" class="btn-search">
                <i class="fa-solid fa-search"></i>
            </button>
        </form>

        <button>
            <i class="fa-solid fa-bell"></i>
        </button>

        <div class="user-info">
            <span>Admin</span>
        </div>

    </div>

</div>
