<div class="sidebar" th:fragment="sidebar">

    <div class="logo">
        <img th:src="@{/images/eggland-logo.png}" alt="Logo">
        <h2>EGGLAND</h2>
    </div>

    <nav>

        <a th:href="@{/dashboard}">
            <i class="fa-solid fa-chart-line"></i>
            Dashboard
        </a>


        <a th:href="@{/batiments}">
            <i class="fa-solid fa-building"></i>
            Bâtiments
        </a>
       
        <a th:href="@{/races}">
            <i class="fa-solid fa-dna"></i>
            Races
        </a>

        <a th:href="@{/admin/lots}">
            <i class="fa-solid fa-egg"></i>
            Lots
        </a>

        <a th:href="@{/admin/oeufs}">
            <i class="fa-solid fa-egg"></i>
            Oeufs
        </a>

        <a th:href="@{/batiments}">
            <i class="fa-solid fa-building"></i>
            Bâtiments
        </a>

          <a th:href="@{/nourritures}">
            <i class="fa-solid fa-wheat-awn"></i>
            Nourritures
        </a>

        <a th:href="@{/races}">
            <i class="fa-solid fa-dna"></i>
            Races
        </a>


        <a th:href="@{/employes}">
            <i class="fa-solid fa-users"></i>
            Employés
        </a>

        <a th:href="@{/salaires}">
            <i class="fa-solid fa-money-bill"></i>
            Salaires
        </a>

        <a th:href="@{/stock}">
            <i class="fa-solid fa-box"></i>
            Stock
        </a>

        <a th:href="@{/finance}">
            <i class="fa-solid fa-money-bill-wave"></i>
            Finance
        </a>

        <a th:href="@{/finance/exports}">
            <i class="fa-solid fa-file-export"></i>
            Export / Import
        </a>

        <a th:href="@{/admin/livraisons}">
            <i class="fa-solid fa-truck"></i>
            Livraisons
        </a>

        <a th:href="@{/ventes}">
            <i class="fa-solid fa-cart-shopping"></i>
            Ventes
        </a>

        <a th:href="@{/configuration}">
            <i class="fa-solid fa-gear"></i>
            Configuration
        </a>

    </nav>

    <div class="info-user"> 
        <div class="user-info">
            <span th:text="${#authentication.name}">Admin</span>
        </div>
        <form th:action="@{/logout}" method="post" class="m-0 p-0">
            <button>
                <i class="fa-solid fa-right-from-bracket"></i> Se Déconnecter
            </button>
        </form>
    </div>

</div>

